@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.wrapper {
    display:grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
.header {
    grid-area: header;
    background: #252a30;
    display:flex;
    flex-direction: column;
    color:white;
}
.main-content  {
    grid-area: main;
    background-image: url('background-image.jpg');
    background-size: cover;
    background-blend-mode: darken;
    min-height: 80vh;
}
.footer {
    grid-area: footer;
    background: #252a30;
}
.title {
    margin: 12px 0 0 12px;
}
.title span {
    display:none;
    opacity: 0.7;
    margin: 6px 0 0 6px;
}
.name {
    padding: 0;
    margin: 0;
}
.nav {
    display:flex;
    justify-content: center;
}
.menu {
    display:flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu a {
    padding: 15px;
    display:block;
    text-decoration: none;
    color:white;
    border-bottom: 2px solid transparent;
}
.menu a:active {
    color:white;
    border-bottom: 2px solid #1DE9B6;
}
.menu a:visited {
    color:white;
}
.menu a:hover {
    background-color:rgba(0,0,0,0.3);
    border-bottom: 2px solid #1DE9B6;
}
.main-content {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.image {
    background-image: url('kim.jpg');
    background-size: cover;
    border-radius: 50%;
    height:200px;
    width: 200px;
}
.hero-title {
    color:white;
    font-size: 2rem;
    font-weight: 300;
    padding: 0 10px;
    margin-top: 100px;
}
.hero-text {
    color:white;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0 10px;
}
.mint-underline {
    text-decoration: underline;
    text-decoration-color: #1DE9B6;
}
.about-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    width:100%;
}
.about-section {
    flex:1;
    width:100%;
    text-align: center;
}
.about-title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0;
}
.about-subtitle {
    font-size:1.5rem;
    font-weight: 100;
    margin-top: 10px;
}
.about-subtitle a {
    color: black;
}
.about-subtitle a:visited {
    color: black;
}
.about-subtitle a:hover {
    color: #1DE9B6;
}
.about-flex-container {
    display:flex;
    width: 100%;
    flex-direction: column;
}
.about-flex-item {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    margin-bottom: 10px;
}
.item-image {
    background-position: center;
    height: 200px;
    width: 200px;
}
.faq {
    width:100%;
    text-align: left;
    margin-bottom: 50px;
}
.js {
    background-image: url('js.png');
}
.github {
    background-image: url('git.png');
}
.sass {
    background-image: url('sass.png');
}
.angular {
    background-image: url('angular.png');
}

.white {
    background-color:white;
}
.off-white {
    background-color: whitesmoke;
}
.footer {
    display:flex;
    justify-content: center; 
}
.footer-content ul {
    list-style:none;
    margin: 0;
    padding: 0;
}
.footer {
    color:white;
}
.footer a {
    color:white;
    display:block;
    text-decoration: none;
}
.footer p {
    text-decoration: underline;
}
.footer-item {
    padding:10px;
}
.footer-item a:active {
    color:white;
}
.footer-item a:visited {
    color:white;
}
.footer-item a:hover {
    color:#1DE9B6;
}
.footer-content {
    display:flex;
    flex-direction:column;
}
.social-menu {
    display:flex;
    flex-direction: row;
}
.social-menu li {
    padding:6px;
}
.contact-btn {
    background:rgba(0,0,0,0.3);;
    border: 2px solid #1DE9B6;
    color:white;
    font-size: 20px;
    width: 140px;
    height: 50px;
    cursor: pointer;
}
.contact-btn:hover {
    background:rgba(0,0,0,0.6);
}

@media (min-width: 330px) {
    .title {
        display: flex;
        flex-direction: row;
    }
    .title span {
        display:block;
    }
    .hero-title {
        font-size: 3rem;
    }
    .hero-text {
        font-size: 2rem;
        padding: 0 15px;
    }
    .footer-content {
        display:flex;
        flex-direction: row;
    }
    .about-flex-container {
        flex-direction: row;
        justify-content: center;
        flex-flow: wrap;
        max-width: 70%;
        margin-left: 15%;
    }
    .about-flex-item {
        flex: none;
        width: auto;
        padding: 20px;
        margin:10px;
    }
    .item-text {
        max-width: 200px;
    }
    .faq {
        max-width: 330px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
  }
  @media (min-width: 770px) {
    .hero-title {
        font-size: 4rem;
        padding: 0 50px;
    }
    .hero-text {
        font-size: 3rem;
        padding: 0 50px;
    }
  }